table{
    margin-left: 30px;
    margin-top: 10%;
    width: 90%;
    border: 0.5px solid black;
    border-collapse: collapse;
}
th{
    background-color: rgb(4, 169, 109);
    color: aliceblue;
    text-align: left;
    width: 250px;
    padding: 10px;
     
    
}
tr{
     text-align: left;
     
}
tr:nth-child(even) {
    background-color: #d4d3d3;
 }
 td{
    padding: 10px;
 }
 h2{
    text-align: center;
 }